.App {
  font-family: Arial;
}

#button-logout {
  position: fixed;
  background-color: deepskyblue;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  top: 0%;
  right: 0%;
}
.App-logo {
  bottom: 2%;
  right: 2%;
  position: fixed;
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: lightgray;
  position: fixed;
  top: -3%;
  left: 1%;
  color: Deepskyblue;
}