.App {
  font-family: Arial;
}

#button-logout {
  position: fixed;
  background-color: deepskyblue;
  border: none;
  border-radius: 10px;
  color: white;
}
.googleButton {
  background-color:deepskyblue; /* Green */
  border: 3px black;
  position: fixed;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  top: 0%;
  right: 0%;
}

.googleButton:hover {
  background-color: rgb(128, 128, 128);
}

.App-logo {
  bottom: 2%;
  right: 2%;
  position: fixed;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.App-header {
  background-color: lightgray;
  position: fixed;
  margin: auto;
  width: 50%;
  font-size: 100px;
  border-style: solid;
  border: 3px black;
  top: -1%;
  left: 1%;
  color: Deepskyblue;
}
.loginButton{
  background-color:deepskyblue; /* Green */
  border: 3px black;
  position: fixed;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  top: 0%;
  right: 0%;
}
.loginButton:hover {
  background-color: rgb(128, 128, 128);
}

