.Content {
  text-align: left;
}

.button {
  background-color: deepskyblue;
  border: none;
  color: white;
  position: fixed;
  top: -1%;
  right: 1%;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.table {
  overflow-y: scroll;
  height: 400px;
}

.App-header {
  background-color: lightgray;
  position: fixed;
  font-size: 16px;
  top: -1%;
  left: 1%;
  color: Deepskyblue;
}

.App-link {
  color: #61dafb;
}

.App-logo {
  bottom: 2%;
  right: 2%;
  position: fixed;
  height: 75vmin;
  pointer-events: none;
}

.logoutButton {
  background-color: deepskyblue; /* Green */
  border: 3px black;
  position: fixed;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  top: 0%;
  right: 0%;
}
.logoutButton:hover {
  background-color: rgb(128, 128, 128);
}
